.container{
	margin-top: 175px;
	margin-bottom: 50px;
}
.apartado{
	width: 40%;
	margin: 10px;
	height: 100px;
}
h3{
	font-size: 20px;
	margin-top: 15px;
	color: #780116;
}

.form{
	margin: 0 auto;
}
.entrar{
	margin-top: 20px;
	background-color: #780116;
	height: 45px;
	padding: 10px;
	width: 105px;
	border-radius: 10px;
	
}
.form a:hover{
	color: white;
}
.barrapersonal{
	position: fixed;
	width: 100%;
	bottom: 40px;
	display: flex;
	flex-flow: row;
	z-index: 5;
	justify-content: center;
	
}
.barrapersonal li{
	padding: 10px 40px;
	background-color: #780116;
}
.barrapersonal i{
	font-size: 50px;
}




@media screen and (max-width: 992px) {
	.apartado{
		width: 90%;
	}
}
