.container{
	margin-top: 175px;
	margin-bottom: 50px;
	padding-bottom: 160px;
}
.contenido{
	margin-top: 50px;
}
.publicacion img{
	width: 100%;

}
.barrapersonal{
	position: fixed;
	width: 100%;
	bottom: 40px;
	display: flex;
	flex-flow: row;
	z-index: 5;
	justify-content: center;
	
}
.barrapersonal li{
	padding: 10px 40px;
	background-color: #780116;
}
.barrapersonal i{
	font-size: 50px;
}
.footer{
	position: fixed;
	bottom: 0;
	background-color: #780116;
	width: 100%;
	height: 100px;
	padding-top: 30px;
}
.avisos{
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}
.avisos a:hover{
	color: #fff;
}



@media screen and (max-width: 992px) {
	.apartado{
		width: 90%;
	}
}
